<div class="container">
  <mat-toolbar>
    <img src="logo.png" class="logo">
    <span class="ms-3"> Version.1.0.0</span>

    <div class="ms-auto d-flex align-items-center justify-content-center">
      <div class="me-3">
        <button
          type="button"
          class="btn col"
          *ngFor="let routerPath of routers"
          (click)="navigateTo(routerPath.path)"
        >
          <h3>
            {{ routerPath.title }}
          </h3>
        </button>
        <!-- <button type="button" class="btn col">最新消息</button>
    <button type="button" class="btn col" data-bs-toggle="dropdown">
      工具
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <i class="dropdown-item" href="#"><h4>滑鼠驅動懶人包</h4></i>
      <i class="dropdown-item" href="#"><h4>滑鼠驅動懶人包</h4></i>
    </ul>

    <button type="button" class="btn col">更新資訊</button>
    <button type="button" class="btn col">合作社群</button> -->
      </div>

      <div class="me-3 d-none d-lg-block ms-auto">
        <i class="bi bi-threads fs-3 me-2 ms-2" (click)="threadsClick()"></i>
        <i
          class="bi bi-instagram fs-3 me-2 ms-2 text-dark"
          (click)="instagramClick()"
        ></i>
        <i
          class="bi bi-twitter-x fs-3 me-2 ms-2 text-dark"
          (click)="twitterClick()"
        ></i>
        <i
          class="bi bi-discord fs-3 me-2 ms-2 text-dark"
          (click)="discordClick()"
        ></i>
      </div>
    </div>
  </mat-toolbar>
</div>
