.mat-toolbar {
  background: #cabbe9;
}

.container {
  max-width: 100%;
}

.logo {
  width: 3%;
}

.dropdown-menu {
  border-radius: 4px;
}

.dropdown-item {
  padding: 8px 16px;
  font-size: 20px;
  color: #333;
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: #f8f9fa; 
  color: #0056b3;
}
