.container {
  height: 100%;
  overflow-y: none;
}

mat-card {
  min-height: 500px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(100%);
}

.carousel {
  width: 70%;
}

.carousel-indicators [data-bs-target] {
  background-color: rgb(104, 103, 103);
}

.carouselImg {
  max-width: 50%;
  min-height: 450px;
}

.carousel-caption {
  position: static;
  text-align: center;
  padding-top: 10px;
}

.mat-tab {
  min-height: 500px;
}

.mat-tab-label {
  font-size: 55px !important;
  font-weight: bold !important;
}

.tabsCard {
  min-height: 600px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.nav-tabs {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.nav-tabs .nav-item:first-child .nav-link {
  border-top-left-radius: 20px;
}

.nav-tabs .nav-link {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
