<div class="container mt-3">
  <h2 class="title text-center">合作社群</h2>
  <div class="d-flex justify-content-center align-items-center">
    <div
      id="carouselExampleCaptions"
      class="carousel slide border-2 border"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner" style="background: rgb(179, 177, 177)">
        <div class="carousel-item active">
          <a href="https://discord.gg/w3k9Nbhzy9" target="_blank">
            <img
              src="logo.png"
              class="d-block w-100 carouselImg d-block mx-auto"
            />
          </a>
          <div class="carousel-caption d-none d-md-block mb-2">
            <h4 class="text-white fw-bold">不專業百科</h4>
          </div>
        </div>
        <div class="carousel-item">
          <a href="" target="_blank">
            <img
              src="carImage/羊羊的小天地.png"
              class="d-block w-100 carouselImg d-block mx-auto"
            />
          </a>
          <div class="carousel-caption d-none d-md-block mb-2">
            <h4 class="text-white fw-bold">羊羊的小天地</h4>
          </div>
        </div>
        <div class="carousel-item">
          <a href="https://discord.gg/PgPfRFA6" target="_blank">
            <img
              src="carImage/羊羊的小花園.png"
              class="d-block w-100 carouselImg d-block mx-auto"
            />
          </a>

          <div class="carousel-caption d-none d-md-block mb-2">
            <h4 class="text-white fw-bold">羊羊的小花園</h4>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev carouselButton"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next carouselButton"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="container border border-2 mt-5 tabsCard">
    <div class="row">
      <ul
        class="nav nav-tabs"
        id="myTab"
        role="tablist"
        style="background: #cabbe9"
      >
        <li class="nav-item" role="presentation">
          <a
            class="nav-link active fs-4 text-black"
            id="home-tab"
            data-bs-toggle="tab"
            href="#home"
            role="tab"
            aria-controls="home"
            aria-selected="true"
            >最新消息</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a
            class="nav-link fs-4 text-black"
            id="profile-tab"
            data-bs-toggle="tab"
            href="#profile"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
            >公告</a
          >
        </li>
      </ul>
    </div>

    <div class="tab-content mt-3" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="home"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        <div
          class="content"
          *ngFor="let latestNewsList of latestNewsList | sortByDate"
        >
          <button
            type="button"
            class="btn btn-lg col-12 text-start mt-1"
            (click)="openDialog(latestNewsList)"
          >
            {{ latestNewsList.date }}
            {{ latestNewsList.title }}
          </button>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="profile"
        role="tabpanel"
        aria-labelledby="profile-tab"
      >
        test
      </div>
    </div>
  </div>
</div>
