<div class="container text-center mt-3">
  <h1 class="title">最新消息</h1>

  <div class="content" style="background: rgb(204, 201, 201)">
    <label></label>
  </div>

  <footer class="text-center text-lg-start bg-light text-muted">
    <section class="d-flex justify-content-end p-3 border-bottom">
      <div class="me-3 d-none d-lg-block">
        <a class="bi bi-instagram fs-3 me-2 ms-2"></a>
        <a class="bi bi-twitter-x fs-3 me-2 ms-2"></a>
        <a class="bi bi-discord fs-3 me-2 ms-2" (click)="dicordClick()"></a>
      </div>
    </section>

    <div
      class="text-center p-3"
      style="background-color: rgba(0, 0, 0, 0.05)"
    ></div>
  </footer>
</div>
