<div class="container">
  <div class="d-flex justify-content-center align-items-center mt-3 mb-3">
    <div class="col-6">
      <div class="input-group">
        <div class="input-group input-group-lg">
          <span
            class="input-group-text"
            id="inputGroup-sizing-lg"
            style="background: rgb(185, 184, 184)"
          >
            <i class="bi bi-search"></i
          ></span>
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg"
            [(ngModel)]="inputValue"
            (input)="filterContent()"
            placeholder="請輸入品牌名稱"
          />
        </div>
      </div>
    </div>
  </div>

  <div
    class="mb-3"
    *ngFor="let driverBagData of driverBagData | sortByNamePipe : 'englishName'"
  >
    <div class="card border-2 col-12 d-flex dataShow rounded-xl border-black">
      <div class="card-body d-flex">
        <div class="d-flex align-items-center justify-content-center">
          <a [href]="driverBagData.website" target="_blank">
            <img class="img" [src]="driverBagData.img" style="width: 400px" />
          </a>
        </div>

        <div class="col text-center">
          <h2 class="mt-2 text-black">
            {{ driverBagData.englishName }} {{ driverBagData.chineseName }}
          </h2>

          <div class="row justify-content-evenly mt-5">
            <button
              type="button"
              class="btn col-5 btn-primary fs-5"
              [disabled]="
                !driverBagData.details.downloadDriver.downloadDriverUrl
              "
            >
              <a
                [href]="driverBagData.details.downloadDriver.downloadDriverUrl"
                target="_blank"
              >
                🚀 桌面驅動
              </a>
            </button>

            <button
              type="button"
              class="btn col-5 btn-primary text-black fs-5"
              [disabled]="!driverBagData.details.webDriverData.webDriverUrl"
            >
              <a
                [href]="driverBagData.details.webDriverData.webDriverUrl"
                target="_blank"
              >
                🌐 網頁驅動
              </a>
            </button>
          </div>

          <div class="row justify-content-evenly mt-5">
            <button
              type="button"
              class="btn col-5 btn-secondary text-white fs-5"
              [disabled]="
                !driverBagData.details.downloadDriver.downloadDriverUrl
              "
              (click)="
                openDialog(
                  driverBagData.details.downloadDriver.downloadMouseList
                )
              "
            >
              查看支援設備 ➤
            </button>

            <button
              type="button"
              class="btn col-5 btn-secondary text-white fs-5"
              (click)="
                openDialog(driverBagData.details.webDriverData.webMouseList)
              "
              [disabled]="!driverBagData.details.webDriverData.webDriverUrl"
            >
              查看支援設備 ➤
            </button>
          </div>
        </div>

        <!-- <div
        class="imgDiv flex-grow-1 d-flex align-items-center justify-content-center"
      ></div>
      <div class="d-flex align-items-end">
        <label class="imgTitle text-center w-100" style="font-size: 18px"
          >{{ driverBagData.englishName }}
          {{ driverBagData.chineseName }}</label
        >
      </div> -->
      </div>
    </div>
  </div>
</div>
