.section {
  overflow-y: auto;
}

.dataShow {
  min-height: 300px;
  border-radius: 2rem;
}

.img {
  max-width: 300px;
}

.imgTitle {
  color: black;
}

a {
  color: white;
  display: block;
  text-decoration: none;
}
