<div class="row me-2 d-flex justify-content-evenly">
  <div
    class="dataShow mt-4"
    *ngFor="let driverBagData of driverBagData | sortByNamePipe : 'englishName'"
  >
    <button
      type="button"
      class="btn dataShow d-flex flex-column btn-outline-secondary"
      (click)="openDialog(driverBagData)"
    >
      <div
        class="imgDiv flex-grow-1 d-flex align-items-center justify-content-center"
      >
        <img class="img" [src]="driverBagData.img" />
      </div>
      <div class="d-flex align-items-end">
        <label class="imgTitle text-center w-100" style="font-size: 18px"
          >{{ driverBagData.englishName }}
          {{ driverBagData.chineseName }}</label
        >
      </div>
    </button>
  </div>

  <footer class="text-center text-lg-start bg-light text-muted mt-4">
    <div
      class="text-center p-3"
      style="background-color: rgba(0, 0, 0, 0.05)"
    ></div>
  </footer>
</div>
