.example-container {
  width: 100%;
  height: 100%;
}

.example-sidenav {
  text-align: center;
}

.mat-drawer {
  width: 150px;
  background: #d8d8eb;
}

.menuButton {
  width: 100%;
}

.mat-toolbar {
  background: #9999cc;
}
