<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon (click)="drawer.toggle()">menu</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <button
      type="button"
      class="btn mt-2"
      *ngFor="let routerPath of routers"
      (click)="navigateTo(routerPath.path)"
    >
      {{ routerPath.title }}
    </button>
  </mat-drawer>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
