<div class="container">
  <div class="d-flex justify-content-center align-items-center mt-3 mb-3">
    <div class="col-6">
      <div class="input-group">
        <div class="input-group input-group-lg">
          <span
            class="input-group-text"
            id="inputGroup-sizing-lg"
            style="background: rgb(185, 184, 184)"
          >
            <i class="bi bi-search"></i
          ></span>
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg"
            placeholder="請輸入品牌名稱"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between align-items-center p-3">
    <div class="row">
      <mat-card
        class="example-card ms-4 mb-4"
        appearance="outlined"
        *ngFor="let data of data"
      >
        <mat-card-header>
          <mat-card-title>{{ data.englishName }}</mat-card-title>
          <mat-card-subtitle>{{ data.chineseName }}</mat-card-subtitle>
        </mat-card-header>
        <img [src]="data.img" />
        <mat-card-content class="mt-auto">
          <div>
            主打產品 : <span *ngIf="data.products">{{ data.products }}</span>
          </div>
          <div>
            官方 Twitter :
            <a [href]="data.twitterUrl" *ngIf="data.discordUrl">前往</a>
          </div>
          <div>
            官方 Discord :
            <a [href]="data.discordUrl" *ngIf="data.discordUrl">前往</a>
          </div>
          <div>
            QQ號 : <span *ngIf="data.qqNumber">{{ data.qqNumber }}</span>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <mat-chip-set
            aria-label="Chihuahua traits"
            *ngFor="let tag of data.tag"
          >
            <mat-chip class="me-2">{{ tag }}</mat-chip>
          </mat-chip-set>
          <button mat-button class="ms-auto">
            產品列表<i class="bi bi-caret-right-fill"></i>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="row">
      <div *ngFor="let typeTotal of typeTotal" class="row">
        <mat-chip-option class="col mt-2">{{ typeTotal }}</mat-chip-option>
      </div>
    </div>
  </div>
</div>
