<div class="container">
  <app-input-text
    [(ngModel)]="searchInputValue"
    (input)="filterContent()"
  ></app-input-text>

  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="row">
        <div
          class="col-xl-4 col-md-6 col-sm-12 mb-4"
          *ngFor="let data of data | sortByNamePipe : 'englishName'"
        >
          <mat-card class="example-card h-100" appearance="outlined">
            <mat-card-header>
              <mat-card-title>{{ data.englishName }}</mat-card-title>
              <mat-card-subtitle>{{ data.chineseName }}</mat-card-subtitle>
            </mat-card-header>

            <div class="d-flex justify-content-center align-items-center h-100">
              <img
                [src]="data.img"
                class="img-fluid"
                style="max-width: 300px"
              />
            </div>

            <mat-card-content
              class="mt-auto border-top border"
              style="min-height: 130px; max-height: 130px; overflow-y: auto"
            >
              <div>
                <div class="mt-1">
                  代表產品 :
                  <span *ngIf="data.products">{{ data.products }}</span>
                </div>
                <div>
                  官網 :
                  <a [href]="data.webUrl" *ngIf="data.webUrl" target="_blank"
                    >前往</a
                  >
                </div>
                <div>
                  官方 Twitter :
                  <a
                    [href]="data.twitterUrl"
                    *ngIf="data.twitterUrl"
                    target="_blank"
                    >前往</a
                  >
                </div>
                <div>
                  官方 Discord :
                  <a
                    [href]="data.discordUrl"
                    *ngIf="data.discordUrl"
                    target="_blank"
                    >前往</a
                  >
                </div>
                <div>
                  QQ群 : <span *ngIf="data.qqNumber">{{ data.qqNumber }}</span>
                </div>
              </div>
            </mat-card-content>

            <mat-card-actions class="d-flex align-items-center">
              <div
                class="d-flex flex-wrap gap-2 overflow-y-auto chip-scroll-area"
                aria-label="Tags"
              >
                <mat-chip *ngFor="let tag of data.tag" class="me-1">{{
                  tag
                }}</mat-chip>
              </div>

              <button
                mat-button
                class="ms-auto"
                [disabled]="data.productsList.length <= 0"
              >
                產品列表<i class="bi bi-caret-right-fill"></i>
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>

    <div class="col" style="flex: 0 0 20%; max-width: 20%">
      <div class="sticky-sidebar">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span>目前品牌總數 : {{ dataSize }} 筆</span>
          <button
            type="button"
            class="btn btn-outline-danger btn-sm col-4"
            (click)="clearTag()"
          >
            清空條件
          </button>
        </div>

        <mat-chip-grid #chipGrid aria-label="已選標籤" class="chip-scroll-wrap">
          <div
            *ngIf="tagList.length <= 0"
            class="d-flex justify-content-center align-items-center w-100"
          >
            <label class="form-label text-secondary fw-semibold">
              無標籤條件
            </label>
          </div>

          <mat-chip-row
            *ngFor="let text of tagList"
            [removable]="true"
            class="custom-chip"
          >
            {{ text }}
            <button
              matChipRemove
              class="remove-btn"
              aria-label="移除"
              (click)="cancelTag(text)"
            >
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>

        <div class="mt-2">
          <div class="tagBar">
            <div class="mb-2" *ngFor="let tag of tagTotal">
              <mat-expansion-panel class="custom-expansion-panel">
                <mat-expansion-panel-header>
                  <span class="text-black">{{ tag.type }}</span>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                  <mat-chip-option
                    class="custom-chip-option w-100 text-center mb-2"
                    (click)="tagClick(name)"
                    [selected]="tagList.includes(name)"
                    *ngFor="let name of tag.name"
                  >
                    {{ name }}
                  </mat-chip-option>
                </ng-template>
              </mat-expansion-panel>
            </div>
          </div>

          <div
            class="d-flex flex-column justify-content-center align-items-center"
            style="margin-top: 50px"
          >
            <button
              class="btn arrowButton mb-2"
              (click)="scrollToTop()"
              style="width: 60px; background: transparent"
            >
              <i class="bi bi-arrow-bar-up" style="font-size: 35px"></i>
            </button>
            <button
              class="btn"
              (click)="scrollToBottom()"
              style="width: 60px; background: transparent"
            >
              <i class="bi bi-arrow-bar-down" style="font-size: 35px"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
