.chip-scroll-area {
  overflow-y: hidden;
  overflow-x: auto;
  max-height: 35px;
  width: 220px;
  scrollbar-color: gray transparent;
}

mat-card {
  min-height: 450px;
  max-height: 450px;
}

.leftCard {
  min-width: 800px;
}

.sticky-sidebar {
  position: sticky;
  top: 30px;
  z-index: 10;
}

.arrowButton {
  width: 45px;
}

.tagBar {
  height: 450px;
  overflow-y: auto;
  padding: 1rem;
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  background-color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #6c757d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #495057;
}
