.backGround {
  max-height: 800px;
  overflow-y: auto;
}
.img {
  width: 300px;
}

mat-card {
  height: 150px;
}

.topCard {
  border-top-right-radius: 0%;
  border-top-left-radius: 0%;
}

.title {
  background: #cabbe9;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.imgButtonDiv {
  width: 100%;
  height: 200px;
}

.cardDiv {
  height: 200px;
}

.contentDiv {
  max-height: 145px;
  overflow: auto;
}

.urlButton {
  width: 250px;
}

.webButton {
  width: 200px;
}
