<div class="container">
  <div class="row gy-2 p-2 backGround">
    <mat-accordion class="col-10" class="mouseText mb-3 mt-3">
      <mat-expansion-panel [disabled]="!brandData?.downloadDriverUrl">
        <mat-expansion-panel-header>
          <mat-panel-title class="title">支援型號</mat-panel-title>
        </mat-expansion-panel-header>
        <span
          class="mt-2"
          *ngFor="
            let downloadMouseText of brandData?.downloadMouseList | orderByName
          "
        >
          {{ downloadMouseText }}
        </span>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
